.loginForm {
    background-color: #da2e2e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    /* Color de las etiquetas */
}

input[type="email"],
input[type="tel"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="email"],
input[type="tel"] {
    background-color: #f9f9f9;
    /* Fondo de los campos de entrada */
    color: #333;
    /* Color del texto en los campos de entrada */
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}