@tailwind base;
@tailwind components;
@tailwind utilities;

.form-control{
    border: none !important;
}

.form-control:focus{
    box-shadow: none !important;
}

.justify-center{
    justify-content: center !important;
}

.active{
    color: white !important;
}

.max-w-full{
    max-width: 100% !important;
}

.card-title, .card-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  display: -webkit-box;
  line-clamp: 3; 
  -webkit-box-orient: vertical;
}

.button-style {
    position: relative;
    top: 46px;
    left: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: left;
  }

@media (min-width: 768px){

}


.img-pag {
    width: 100%;
    max-width: 500px;  
  max-height: 500px; 
  object-fit: cover; 
  }
  
  
  

.nav-link,
.nav-link:focus, 
.nav-link:hover {
    color: white !important;
}

.dropdown-menu{
    color: white !important;
    background-color: rgb(19 193 204 / var(--tw-bg-opacity)) !important;
}

.dropdown-item:hover{
    background-color: gray !important;
}

.flex{
    display: flex !important;
    color:rgb(0, 0, 0);
}

.ButtonRight{
  
    position: relative;

    right: 20px;
    align-self: right;

}
body {
  padding-top: 70px; /* Ajusta este valor según la altura de tu navbar */
}

.navbar2 {
  background-color: #004d40; /* Color de fondo personalizado */
}
.navbar3 {
  background-color: #004d40; /* Color de fondo personalizado */
}