@tailwind base;
@tailwind components;
@tailwind utilities;

.form-control{
    border: none !important;
}

.form-control:focus{
    box-shadow: none !important;
}

.justify-center{
    justify-content: center !important;
}

.active{
    color: white !important;
}

.max-w-full{
    max-width: 100% !important;
}

.card-title, .card-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
}

.button-style {
    position: relative;
    top: 20px;
    left: 20px;
}

@media (min-width: 768px){

}