@tailwind base;
@tailwind components;
@tailwind utilities;

.form-control{
    border: none !important;
}

.form-control:focus{
    box-shadow: none !important;
}

.justify-center{
    justify-content: center !important;
}

.active{
    color: white !important;
}

.max-w-full{
    max-width: 100% !important;
}

.nav-link,
.nav-link:focus, 
.nav-link:hover {
    color: white !important;
}

.dropdown-menu{
    color: white !important;
    background-color: rgb(19 193 204 / var(--tw-bg-opacity)) !important;
}

.dropdown-item:hover{
    background-color: gray !important;
}

.flex{
    display: flex !important;
}